body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --redColor: rgb(185, 54, 54);
  --grayColor: rgb(189, 184, 184);
}
.sidebar {
  width: 350px;
  background-color: rgb(234, 224, 194);
  transition: all 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 100px;
  gap: 10px;
}
.containerProjects {
  font-weight: 700;
  color :rgb(162, 15, 15);
  font-size: 20px;
}
.addTaskSidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.addTaskSidebar > h5, .addTaskSidebar > div{
  font-size: 20px;
  color: rgb(162, 15, 15);
  
}
.addTaskSidebar > h5{
  text-decoration: underline;
}
.links{
  text-decoration: underline;
  color: var(--redColor);
  font-size: 17px;
  cursor: pointer;

}
@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
.body-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.body {
  margin-top: 50px;
  width: 60%;
  min-width: 400px;
  max-width: 600px;
  position: relative;
}
#add_task {
  font-weight: 300;
  color: gray;
  display: inline;
  padding: 10px;
}
#plus {
  color: var(--redColor);
  display: inline;
  cursor: pointer;
  font-size: 20px;
}
#plus:hover {
  background-color: var(--redColor);
  color: white;
  border-radius: 50%;
}

.add_task_display {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form {
  border: 1px solid var(--grayColor);
  padding: 7px 10px;
  border-radius: 10px;
  padding-bottom: 0;
  position: absolute;
  top: 155px;
  width: 95%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px;
}
#title {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 560;
}
#title::placeholder {
  color: rgb(134, 130, 130);
}
#description {
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: rgb(165, 160, 160);
}
#description::placeholder {
  color: rgb(165, 160, 160);
}
.cards {
  display: flex;
  gap: 10px;
  margin-bottom: 7px;
}
.card {
  border: 1px solid var(--grayColor);
  padding: 5px 10px;
  color: gray;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.selected > img {
  width: 13px;
}
.card:hover {
  background-color: rgb(220, 216, 216);
}
.date-display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.date-display > img {
  width: 15px;
}
img {
  width: 20px;
}

#remove {
  color: var(--grayColor);
  margin-left: 10px;
}
.submit-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 10px;
  padding: 8px 15px;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  min-width: 90px;
}
#cancel {
  text-align: center;
  display: flex;
  justify-content: center;
}
#cancel:hover {
  background-color: rgb(215, 211, 211);
}
#submit {
  background-color: var(--redColor);
  color: white;
  cursor: not-allowed;
  opacity: 50%;
  text-align: center;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(57, 57, 57);
  padding: 7px 10px;
  border-radius: 5px;
}
.projects:hover {
  background-color: rgb(230, 225, 225);
}

.hidden {
  display: none;
}
.show {
  display: block;
}
select {
  appearance: none;
  border: none;
  outline: none;
}
select:hover {
  background-color: rgb(220, 216, 216);
}

.custom-select {
  position: relative;
}
.custom-projects {
  position: relative;
}
.options {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  top: 100%;
  margin-top: 1px;
  z-index: 20;
  
}
.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: black;
}
.option:hover {
  background-color: rgb(225, 222, 222);
}
.date-cont {
  position: relative;
}
.date-options {
  position: absolute;
  border: 1px solid var(--grayColor);
  border-radius: 5px;
  z-index: 1;
  background-color: white;
  width: 250px;
  left: 100%;
  box-shadow: 0 0 20px var(--grayColor);
}
.current-date {
  padding: 10px 10px;
  padding-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 5px 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li:hover {
  background-color: #ccc;
}
.display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.day {
  color: rgb(134, 130, 130);
}
.extra {
  padding: 10px;
}
.extra > div {
  border: 1px solid var(--grayColor);
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}

.repeat {
  margin-top: 10px;
}
.timeBTN,
.repeat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgb(96, 92, 92);
}
.timeBTN > img,
.repeat > img {
  width: 17px;
}
.time:hover,
.repeat:hover {
  background-color: #ccc;
}

.dateCard {
  background-color: rgb(80, 178, 214);
}
.dateDisplayCard {
  margin-top: 5px;
  display: inline;
}
.dateCard {
  padding: 4px 10px;
  border-radius: 5px;
  margin: 2px;
}

.time {
  position: relative;
}
.timeDisplay {
  position: absolute;
  border: 1px solid var(--grayColor);
  bottom: 100%;
  width: 110%;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px;
  left: 50%;
  transform: translateX(-50%);
}

.buttonsTimeDisplay {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 10px;
}
.buttonsTime {
  padding: 6px;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  min-width: 70px;
}
#cancelBtn {
  text-align: center;
  display: flex;
  justify-content: center;
}
#cancelBtn:hover {
  background-color: rgb(215, 211, 211);
}
#save {
  background-color: var(--redColor);
  color: white;
  cursor: pointer;
  text-align: center;
}
.timeForm {
  padding: 10px;
  margin-top: 10px;
}
.timeForm > label {
  color: black;
  font-weight: 600;
  margin-right: 10px;
}
.timeCard {
  background-color: rgb(139, 78, 196);
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  margin: 2px;
}
.date-pickerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.date-pickerCont > img {
  position: absolute;
  left: 70%;
  margin-bottom: 2px;
}
#date-picker {
  width: 55%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 17px;
  color: var(--redColor);
}
.placeholderCard {
  padding: 4px 10px;
  border-radius: 5px;
  margin: 2px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0 10px;
  max-width: 600px;
}
.listDisplayContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-title {
  font-size: 20px;
}
.task-checkbox {
  cursor: pointer;
  width: 20px;
}
.task-description {
  color: gray;
  font-size: 15px;
  padding-left: 35px;
}
.task-datetime,
.task-priority {
  color: rgb(156, 93, 93);
  font-size: 15px;
  padding-left: 35px;
}
.tasktitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.task-datetime {
  display: flex;
  gap: 10px;
  padding-left: 35px;
  align-items: center;
}

.task-project {
  color: rgb(156, 93, 93);
  font-size: 15px;
  padding-left: 35px;
}

.task-title.completed {
  text-decoration: line-through;
  color: gray;
}
.editsContainer {
  display: flex;
  gap: 10px;
}
.optionsP {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  top: 100%;
  margin-top: 1px;
  width: 130px;
}
.optionsP > .option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: black;
}
.option:hover {
  background-color: rgb(225, 222, 222);
}
.selectedP {
  display: flex;
  align-items: center;
  gap: 6px;
}
.selectedP > img {
  width: 17px;
}

#newproject{
  position: relative;
}
.typeProject{
  border: 1px solid var(--grayColor);
  position: absolute;
  left: 93%;
  bottom: -600%;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
}
#customProjectInput{
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--grayColor);
}

.buttonsAdd{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
}
.projectP{
  font-size: 20px;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: white;
}
#x{
  font-weight: 300;
  border: 1px solid var(--redColor);
  color: var(--redColor)
}
#addP{
  border: 1px solid green;
  color: green;
}